<a href="{% url 'extrato' %}">Ver Extrato</a>

<h2>Extrato Bancário</h2>
<p><strong>Saldo Atual:</strong> R$ {{ saldo }}</p>

<table border="1">
    <thead>
        <tr>
            <th>Data</th>
            <th>Tipo</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        {% for t in transacoes %}
        <tr>
            <td>{{ t.data|date:"d/m/Y H:i" }}</td>
            <td>{{ t.get_tipo_display }}</td>
            <td style="color: {% if t.tipo == 'S' %}red{% else %}green{% endif %}">
                R$ {{ t.valor }}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhuma transação encontrada.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="{% url 'index' %}">Voltar</a>